    <h3 class="campaign-create-head-main">Create a Campaign</h3>
    <form id="campaign-create-form" role="form" action="process-campaign" method="post">
    <div class="col-md-6">
      
      
      <div class="campaign-create-section campaign-create-section-active" id="campaign-create-section-name">
        <div class="form-group">
          <label for="campaign-name">Campaign Name</label>
          <input type="text" class="form-control campaign-create-input" data-section="name" name="campaign-name" id="campaign-name" placeholder="My campaign">
        </div>
      </div>
      <div class="campaign-create-section" id="campaign-create-section-message">
        <h4 class="campaign-create-head">Your Message</h4>
        <div class="form-group">
          <label for="">Tweet or Status to be Shared</label>
          <p>Write a message here that you want to your audience to share</p>
          <textarea type="text" name="campaign-message" class="form-control campaign-create-input" id="campaign-message" placeholder="Your tweet / status" data-section="message"></textarea>
          
          <div class="checkbox">
           <label>
              <input name="campaign-message-edit" value="yes" class="campaign-create-input" data-section="message" type="checkbox"> Allow the user to edit this message
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="campaign-link">Link to share (Optional)</label>
          <p>Add a link included in this message, if you want</p>
          <input type="text" class="form-control campaign-create-input" data-section="message" name="campaign-link" id="campaign-link" placeholder="http://">
        </div>
      </div>
      
      <div class="campaign-create-section" id="campaign-create-section-design">
        <h4 class="campaign-create-head">User Interface (Preview to the right)</h4>
        
        <div class="form-group">
          <label for="campaign-heading" class="col-sm-12">Your Logo (Optional)</label>
          <input type="file" id="campaign-logo" name="campaign-logo">
            <p class="help-block">Upload a .png, .jpg, or .gif file</p>
        </div>

  
  
        <div class="form-group col-sm-12">
          <label for="campaign-heading" class="col-sm-12">Interface Heading</label>
          <div class="col-sm-8">
          <input type="text" class="form-control campaign-create-input" data-section="design" name="campaign-heading" id="campaign-heading" value="Post a Message to Receive the Product">
          </div> <!-- sm-8 -->
          <div class="col-sm-4">
            
            <div class="campaign-create-picker-select">
            <div class="campaign-create-picker-preview" id="social-intro-heading-preview"></div>
              <a class="campaign-create-picker-btn btn btn-default" data-target="campaign-create-color-picker-heading" href="#">
                <span id="campaign-create-social-intro-heading-btn-text" data-target="campaign-create-color-picker-heading" style="font-size:12px;">Select Color</span></a>
              <input type="text" id="campaign-create-color-picker-heading" name="style-color-heading" class='form-control campaign-create-color-picker' data-target="social-intro-heading" value="#333333" />
            </div> <!-- picker-select -->
          </div> <!-- sm-4 -->
          <div class="clearfix"></div>
        </div> <!-- sm-12 -->
        <div class="form-group col-sm-12">
            <label for="campaign-heading" class="col-sm-12">Interface Body</label>
            <p>What should your users know before they post this message?</p>
            <div class="col-sm-8">
            <textarea class="form-control campaign-create-input" data-section="design" name="campaign-paragraph" id="campaign-paragraph">Before accessing this content, the author requests that you post a short message to your social network.</textarea>
            </div>
            <div class="col-sm-4">
            
            <div class="campaign-create-picker-select">
            <div class="campaign-create-picker-preview" id="social-intro-paragraph-preview"></div>
              <a class="campaign-create-picker-btn btn btn-default" data-target="campaign-create-color-picker-paragraph" href="#">
                <span id="campaign-create-social-intro-paragraph-btn-text" data-target="campaign-create-color-picker-paragraph" style="font-size:12px;">Select Color</span></a>
              <input type="text" id="campaign-create-color-picker-paragraph" name="style-color-paragraph" class='form-control campaign-create-color-picker' data-target="social-intro-paragraph" value="#333333" />
            </div> <!-- picker-select -->
          </div> <!-- sm-4 -->
        </div>
        <div class="form-group col-sm-12">
          <label for="campaign-security" class="col-sm-12">Security Promise</label>
          <div class="col-sm-8">
          <input type="text" class="form-control campaign-create-input" data-section="design" name="campaign-security" id="campaign-security" value="We'll never post without your permission!">
          </div>
          <div class="col-sm-4">
            
            <div class="campaign-create-picker-select">
            <div class="campaign-create-picker-preview" id="social-intro-security-preview"></div>
              <a class="campaign-create-picker-btn btn btn-default" data-target="campaign-create-color-picker-security" href="#">
                <span id="campaign-create-social-intro-security-btn-text" data-target="campaign-create-color-picker-security" style="font-size:12px;">Select Color</span></a>
              <input type="text" id="campaign-create-color-picker-security" name="style-color-security" class='form-control campaign-create-color-picker' data-target="post-security" value="#333333" />
            </div> <!-- picker-select -->
          </div> <!-- sm-4 -->
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4">
          <label for="campaign-background-color" class="col-sm-12">Background Color</label>
          <div class="campaign-create-picker-select">
            <div class="campaign-create-picker-preview" style="background-color:#ffffff" id="social-intro-background-preview"></div>
              <a class="campaign-create-picker-btn btn btn-default" data-target="campaign-create-color-picker-background" href="#">
                <span id="campaign-create-social-intro-background-btn-text" data-target="campaign-create-color-picker-background" style="font-size:12px;">Select Color</span></a>
              <input type="text" id="campaign-create-color-picker-background" name="style-color-background" class='form-control campaign-create-color-picker' data-target="social-intro-background" value="#ffffff" />
            </div> <!-- picker-select -->
            
        </div> <!-- sm-4 -->
        
        <div class="col-sm-4">
          <label for="campaign-share-text-color" class="col-sm-12">Message Text Color</label>
          <div class="campaign-create-picker-select">
            <div class="campaign-create-picker-preview" id="share-text-preview"></div>
              <a class="campaign-create-picker-btn btn btn-default" data-target="campaign-create-color-picker-share-text" href="#">
                <span id="campaign-create-social-intro-share-text-btn-text" data-target="campaign-create-color-picker-share-text" style="font-size:12px;">Select Color</span></a>
              <input type="text" id="campaign-create-color-picker-share-text" name="style-color-message" class='form-control campaign-create-color-picker' data-target="share-text" value="#fff" />
            </div> <!-- picker-select -->
            
        </div> <!-- sm-4 -->
        
        <div class="col-sm-4">
          <label for="campaign-font" class="col-sm-12">Font Type</label>
        </div>
        <div class="clearfix"></div>
      </div>
      
        <!--
<div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" id="exampleInputFile">
          <p class="help-block">Example block-level help text here.</p>
        </div>
-->

  <div class="campaign-create-section" id="campaign-create-section-product">
    <h4 class="campaign-create-head">Redirect Link</h4>
    <div class="form-group">
      <p>Where does the user go after sharing your message?</p>
      <input type="text" class="form-control campaign-create-input" data-section="product" name="campaign-product" id="campaign-product" placeholder="http://">
    </div> <!-- form-group -->
  </div> <!-- create-section product -->
  <div class="campaign-create-section" id="campaign-create-section-networks">
    <h4 class="campaign-create-head">Social Networks</h4>
      <div class="checkbox">
          <label>
            <input name="campaign-twitter" value="yes" class="campaign-create-input" id="campaign-create-checkbox-twitter" data-section="networks" type="checkbox" checked="checked"> Allow Posting on Twitter
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input name="campaign-facebook" value="yes" class="campaign-create-input" id="campaign-create-checkbox-facebook" data-section="networks" type="checkbox" checked="checked"> Allow Posting on Facebook
          </label>
        </div>
</div>
      
    </div>
    <div class="col-md-6">
      <div class="campaign-create-preview" id="campaign-create-section-preview">
        <h3 class="campaign-create-head">Preview</h3>
        <p>Once your users click on the button, they will see the popup previewed below.</p>
        <hr/>
        <div class="campaign-create-preview-inner">
        <div class="social-modal-container">
  <div class="social-intro">
    <h3 id="social-intro-heading"></h3>
    <p id="social-intro-paragraph"></p>
  </div>
  <div class="share-container">
    <div class="share-wrapper">
      <textarea class="share-text" id="campaign-message-preview" maxlength="140">This is my awesome product description. http://www.graemeboy.com</textarea>
    </div>
    <div style="clear:both"></div>
    <div class="share-send">          
      <a href="#" class="facebook-signin">
        <div class="facebook-icon"></div>
        <div class="facebook-signin-text">
            <span class="word-strong">Post</span>
            <span class="word-italic">via</span>
            <span class="word-strong">Facebook</span>  
        </div> <!-- facebook-signin-text -->
      </a>
      <a href="#" class="twitter-signin">
          <div class="twitter-icon"></div>
          <div class="twitter-signin-text">
            <span class="word-strong">Post</span>
            <span class="word-italic">via</span>
            <span class="word-strong">Twitter</span>  
          </div> <!-- twitter-signin-text -->
      </a>
    </div> <!-- share-send -->
    <div style="clear:both"></div>
    <div class="post-secure" id="post-security">We'll never post without your permission!</div>
  </div> <!-- share-container -->
</div> <!-- social-modal-container -->
        </div><!-- preview-inner -->
      </div> <!--design-section -->
    </div> <!-- col-md-6 -->