<div>
<div class="details-name">My first campaign</div>
<div class="details-redirect"><a href="#">http://www.google.com</a></div>

<div class="details-head">Embed</div>

<div>As button</div>
<button onclick="window.open('http://localhost:3000/campaign/535349f3ac01292a33eae979','_blank','height=400,width=540,toolbar=no,fullscreen=no,location=no,resizable=no')">Try it</button>

<div>As link</div>
<a href="#" onclick="window.open('http://localhost:3000/campaign/535349f3ac01292a33eae979','_blank','height=400,width=540,toolbar=no,fullscreen=no,location=no,resizable=no')">Try it</button>

</div>