<%= include header %>
  <div id="campaign-list" style="display:none">
    <h3>Your Campaigns</h3>
    <table class="table">
      <thead>
        <th class="campaigns-head-name">Name</th>
        <th class="campaigns-head-conversions">Conversions</th>
        <th class="campaigns-head-actions">Actions</th>
      </thead>
      <tbody>
        <tr>
          <td>Example</td>
          <td>206</td>
          <td>
              <div class="col-xs-2">
                <a href="#" class="campaign-action"><span class="glyphicon glyphicon-edit"></span></a>
              </div>
              <div class="col-xs-2">
                <a href="#" class="campaign-action"><span class="glyphicon glyphicon-stats"></span></a>
              </div>
              <div class="col-xs-2">
                 <a href="#" class="campaign-action"><span class="glyphicon glyphicon-trash"></span></a>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div>You have not created any campaigns yet.</div>
  </div>
  
  <div id="campaign-create">
    <%= include create_campaign %>
  </div> <!-- #campaign-create -->
    
    <div class="clearfix"></div>
     <div class="campaign-submit-wrapper">
      <input type="submit" class="btn btn-lg btn-success" value="Create Campaign" />
    </div>
  </div>
  </form>
  </div>
  <div id="campaign-stats" style="display:none;">
    <%= include stats %>
  </div>
<%= include footer %>