<%= include header %>
  <style type="text/css">
    .dashboard-campaign-name
    {
      color: #2290bf;
      outline: 0 none;  
    }
    .dashboard-campaign-redirect
    {
      color: #999;
    }
    .dashboard-campaign h3
    {
      margin-bottom: 5px;
    }
    .dashboard-campaign-redirect
    {
      margin-left: 2px;
    }
  </style>
  <div id="campaign-list">
    <h1>Your Campaigns</h1>
    
    <div class="container">
      <div class="dashboard-campaign">
        <h3>
          <a class="dashboard-campaign-name" href="/dashboard/123">My first campaign</a>
        </h3>
        <div class="dashboard-campaign-redirect">http://www.google.com/</div>
      </div>
    </div>
    
<!--     <div>You have not created any campaigns yet.</div> -->




<!--
    <table class="table">
      <thead>
        <th class="campaigns-head-name">Name</th>
        <th class="campaigns-head-conversions">Conversions</th>
        <th class="campaigns-head-actions">Actions</th>
      </thead>
      <tbody>
        <tr>
          <td>Example</td>
          <td>206</td>
          <td>
              <div class="col-xs-2">
                <a href="#" class="campaign-action"><span class="glyphicon glyphicon-edit"></span></a>
              </div>
              <div class="col-xs-2">
                <a href="#" class="campaign-action"><span class="glyphicon glyphicon-stats"></span></a>
              </div>
              <div class="col-xs-2">
                 <a href="#" class="campaign-action"><span class="glyphicon glyphicon-trash"></span></a>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
-->
    
  </div>
  
    
    
  <div id="campaign-stats" style="display:none;">
    <%= include stats %>
  </div>
<%= include footer %>