<%- include header %>
    <style type="text/css">
        #vip-main-title,
        #vip-main-subtitle {
            text-align: center;
            font-weight: normal;
        }
        #vip-list {
            font-size: 22px;
            margin-top: 40px;
        }
        .vip-list-icon,
        .vip-list-text {
            text-align: center;
        }
        .vip-list-text {
            margin-top:10px;
        }
        .vip-list-icon {
            color: #eee;
            font-size: 48px;
        }
        #vip-payment-form {
            margin-top:40px;   
        }
        #vip-payment-form h2 {
           text-align:center;
        }
    </style>
    <h1 id="vip-main-title">Get Ready to Be a
        <strong>CloudFlood VIP</strong>
    </h1>
    <h4 id="vip-main-subtitle">Maximize the social value of your traffic</h4>


    <!--<h4>A good marketer can do a lot with our free account - but if you want to get all you can out of your traffic then you'll want to grab our VIP features.</h4>-->

    <div class="row" id="vip-list">

        
        <div class="col-sm-4">
            <div class="vip-list-icon">
                <span class="glyphicon glyphicon-phone-alt"></span>
            </div>
            <div class="vip-list-text">
                Lifetime customer support
            </div>
        </div>
        <div class="col-sm-4">
            <div class="vip-list-icon">
                <span class="glyphicon glyphicon-certificate"></span>
            </div>
            <div class="vip-list-text">
                First access to frequently added social tools
            </div>
        </div>
        <div class="col-sm-4">
            <div class="vip-list-icon">
                <span class="glyphicon glyphicon-gift"></span>
            </div>
            <div class="vip-list-text">
                Exclusive access to VIP marketing tools and insights
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div id="vip-payment-form">
        <h2>Upgrade to VIP with Immediate Effect</h2>
        <h3>Add Stripe Checkout Form here!</h3>
    </div>

    <%- include footer %>