<html>

<head>
    <title>Cloud:flood - Become an early user</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <style type="text/css">
        h2 {
            font-size: 3.125em;
            font-weight: 200;
            line-height: 1.105;
            letter-spacing: -1px;
            text-align: center;
        }
        #h2-first {
            color: #333333;
            font-size: 28px;
        }
        #h2-second {
            color: #666666;
            font-size: 28px;
        }
        #msgs {
            margin: 40px 0 50px 0;
        }
        form {
            text-align: center;
        }
        #logo {
            font-size: 32px;
            color: #fff;
            font-weight: normal;
        }
        .form-control {
            border-radius: 2px;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transition: none;
            transition: none;
            height: 38px;
            padding: 8px 15px;
            font-size: 15px;
        }
        .form-control:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
            outline:none;
        }
        .btn {
            border-radius: 2px;
            height: 38px;
            padding: 8px 15px;
            font-size: 15px;
        }
        .btn-default:hover {
            background-color: #fff;
        }
        footer {
            border-top: 1px solid #eee;
            padding-top: 15px;
            margin: 150px 0 50px 0;
            color: #999;
            font-size: 10px;
        }
        #clf-how-to {
         text-align:center;   
        }
        #form-extra {
            font-size: 14px;
            margin-top: 15px;
        }
    </style>
</head>
<body>

    <div class="jumbotron">
        <div class="container">
            <h1 id="logo">cloud<strong>flood</strong>
            </h1>
            <div id="msgs">
                <h2 id="h2-first">Welcome to CloudFlood VIP</h2>
                <h2 id="h2-second">You were selected to be an early CloudFlood user, with lifetime VIP membership.</h2>

            </div>
            <form class="form-inline" action="process-login" method="post" role="form">
                <div class="form-group">
                    <label class="sr-only" for="emailInput">Your email</label>
                    <input type="text" name="email" class="form-control" id="emailInput" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="passwordInput">Your Password</label>
                    <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Enter password">
                </div>

                <button type="submit" class="btn btn-default">Sign In</button>
                <p id="form-extra">You will have received your username and password in the mail.</p>
            </form>
        </div>
    </div>
    
    <footer>
        <div class="container">
            <div id="beta-copy">Copyright &copy; 2014 CloudFlood</div>
        </div>
    </footer>
</body>

</html>
