<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title>{{ campaign-title }}</title>
    <link href="/stylesheets/min/campaign.min.css" rel="stylesheet">
</head>

<body>
<div class="social-modal-container">
  <div class="social-intro">
    <h3 id="social-intro-heading">Post a Message to Receive the Product</h3>
    <p id="social-intro-paragraph">Before accessing this content, the author requests that you post a short message to your social network.</p>
  </div>
  <div class="share-container">
    <div class="share-wrapper">
      <textarea class="share-text" maxlength="140">This is my awesome product description. http://www.graemeboy.com</textarea>
    </div>
    <div style="clear:both"></div>
    <div class="share-send">          
      <a href="auth/facebook" class="facebook-signin">
          <div class="facebook-icon"></div>
          <div class="facebook-signin-text">
          <span class="word-strong">Post</span>
          <span class="word-italic">via</span>
          <span class="word-strong">Facebook</span>  
        </div>
      </a>
      <a href="auth/twitter" class="twitter-signin">
          <div class="twitter-icon"></div>
          <div class="twitter-signin-text">
          <span class="word-strong">Post</span>
          <span class="word-italic">via</span>
          <span class="word-strong">Twitter</span>  
        </div>
      </a>
    </div>
    <div style="clear:both"></div>
    <div class="post-secure">We'll never post without your permission!</div>
  </div>
</div>
</body>
</html>
