<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title>Cloud:flood</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

	<style type="text/css">
		#guest-nav
		{
			background-color: #ffffff;
		}
		.navbar a.navbar-brand
		{
			font-size: 22px;
		}
		.home-sign-up-well
		{
			background-color: white;
			color: #333;
		}
		.home-sign-up-well h4
		{
  		margin-top:0;
		}
		.home-sign-in-head
		{
			margin-bottom: 15px;
		}
		
		/* Fade in Right */
		.fadeInRight {
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .home-section-signup
  {
    margin-top:-20px;
    padding: 40px 0;
    background-image: url('img/signup-bg.jpg');
    color: #fff;
  }
  .home-section-signup h3
  {
    margin-top: 30px;
    font-size: 38px;
    line-height: 110%;
    font-weight: 400;
  }
  .home-section-signup h4
  {
    font-size: 22px;
    margin-top: 20px;
    line-height: 140%;
    font-weight: 300;
  }
  .home-section-signup h3, .home-section-signup h4
  {
    font-family: 'Helvetica Neue', helvetica;
  }
	</style>
</head>

<body>



<nav id="guest-nav" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cloud"></span> </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">    

<form id="nav-sign-in-wrapper" method="post" action="process-login" class="navbar-form navbar-right" style="display:none">
		    <div class="form-group">
		      <input type="text" id="nav-email-in" name="email" class="form-control" placeholder="Email">
		      <input type="password" id="nav-pass-in" name="password" class="form-control" placeholder="Password">
		      <input type="submit" class="btn btn-default" value="Sign In">
		    </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
  		  <li class="right-menu-item nav-sign-in active">
          <a href="#" id="sign-in">Sign In</a>        	
        </li>
        <li class="right-menu-item nav-about"><a href="#">About</a></li>
        <li class="right-menu-item nav-careers"><a href="#">Careers</a></li>      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="home-section home-section-signup">
  <div class="container">
    <div class="well home-sign-up-well col-sm-4 fadeInRight">
      <div class="home-sign-in-head">
      	<h4>Sign up</h4>
      </div>
      <form action="process-signup" method="post" id="home-sign-up" role="form">
        <div id="home-sign-up-error" class="alert alert-danger" style="display:none"></div>
        <div class="form-group">
          <label for="home-email">Email address</label>
          <input type="email" name="email" class="form-control" id="home-email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="home-password">Password</label>
          <input type="password" name="password" class="form-control" id="home-password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="home-confirm-password">Confirm Password</label>
          <input type="password" name="passwordConf" class="form-control" id="home-password-conf" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div> <!-- .well .col-sm-4 -->
    <div class="col-sm-7 col-sm-offset-1">
      <h3>Exchange your products for social sharing</h3>
      <h4>Create social campaigns for your products, so that you can get social payment. Find out more about the people who are using your products.</h4>
    </div>
  </div> <!-- .container -->
</div> <!-- .home-section -->
<script type="text/javascript">
	jQuery(document).ready(function ($)
	{
		$('#sign-in').click(function (e)
		{
			e.preventDefault();
			$('.right-menu-item').hide(0, function ()
			{
				$('#nav-sign-in-wrapper').fadeIn();
			}); // hide
		}); // click
		
		$('#nav-sign-in-wrapper').submit(function (e)
		{
			//e.preventDefault();
			var data = {
				'email': $('#nav-email-in').val(),
				'pass': $('#nav-pass-in').val()
			};
			console.log("Logging in, email " + data.email + " password " + data.pass);
		}); // submit
		
		$('#home-sign-up').submit(function (e)
		{
			//e.preventDefault();
			
			if (!checkEmail($('#home-email').val()))
			{
			  signUpError("The email you provided is not valid. Please try again");
  		  return false;
  		} // if
  		
  		if (!validateSignUpPass($('#home-password').val(), $('#home-password-conf').val()))
  		{
    		return false;
  		}
		}); // submit ()
		
		function signUpError(errorText)
		{
			$('#home-sign-up-error').text(errorText).show();
		} // signUpError(String)
		
		function checkEmail(val)
		{
  		var emailRegExp = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
  		return emailRegExp.test(val);
		} // checkEmail(String)
		
		function validateSignUpPass(pass, conf)
		{
		  if (pass.length < 5)
		  {
  		  signUpError("Please enter a password longer than 5 characters.");
				return false;
		  } // if
		  else if (pass !== conf)
			{
				// the confirmation is bad
				signUpError("Your password did not match the confirmation. Please try again");
				return false;
			} // else if
			return true;
		} // validatePass()
	}); // jQuery document ready
</script>
</body>
</html>
